body {
    font-family: Tahoma;
    font-weight: 11px;
    margin: 0px;
    padding: 0;
}

#le {
    position: fixed;
    height: 100%;
    width: 215px;
    background-color: #171d13;
    left: 0;
    top: 0;
}

#le2 {
    position: fixed;
    height: 100%;
    width: 215px;
    background-color: #171d13;
    right: 0;
    top: 0;
}

#lab-2 {
    padding-left: 215px;
    padding-right: 215px;
    margin: 0px 80px 80px 80px;
}

h1 {
    margin: 70px;
    text-transform: uppercase;
    font-family: Consolas;
    font-size: 38px;
    text-align: center;

}
.red {
    color: #ff1e00;
}
.blue{
    color: #0058d3;
}
.green{
    color: #417855;
}
.list{
    font-family: consolas;
}
.thumbnail {
    margin: 30px 0 30px 0;
}
img {
    width: 370px;
    height: auto;
}